# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/

# Environment
.env
/mc.yunaitang.top/config.php

# Database
data/*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
